/Snake/nbproject/private/
*.properties
/2048/nbproject/private/
SpaceShooter/HighScores/
/2048/build/
Puzzel4/Puzzel4/bin/
Puzzel4/Puzzel4/obj/
Puzzel4/packages/
Puzzel4/.vs/
SpaceQuiz/SpaceQuiz/bin/
SpaceQuiz/SpaceQuiz/obj/
SpaceQuiz/.vs/
/SpaceShooter/nbproject/private/
/SpaceShooter/build/